@use '../variables' as *;

.homepage-header{
    display: flex;
    justify-content: space-between;
    

    .header-nav{
        ul{
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            list-style: none;
            font-weight: bolder;

           
        }
    }
}

.homepage-layout{
    background-color: $secondaryOrange;
    color: $black-90;
    font-weight: 500;
    padding: 2rem;
    font-size: 1.5rem;
}