@use "../variables" as *;

.homepage-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  top: 0;

  .header-nav {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    list-style: none;
    font-weight: bolder;

    a {
      text-decoration: none;
      color: $white-100;

      &:hover {
        font-size: 1.4rem;
        color: $white-90;
      }

      .active {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.3rem;
        text-decoration-color: $tertiaryPink;
      }
    }
  }

  .mobile-nav, .close-nav {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    color: white;
  }
}

.homepage-layout {
  background-color: $secondaryOrange;
  color: $black-90;
  font-weight: 500;
  padding: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 60rem) {
  .mobile-nav, .close-nav {
    visibility: visible !important;
    opacity: 1 !important;
    font-size: 2rem;
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    transform: translateY(-100vh);
    background-color: $secondaryOrange;
    z-index: 9999;

    justify-content: flex-start !important;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
   

    a {
      border-bottom: 2px solid;
    }
  }
  .responsiveNav {
    transform: none;
    
  }
  .close-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    font-size: 2rem;

    color: $white-100;
  }
}
