@use "../variables" as *;

.modal-background {
  position: fixed; // Stays in place even if you scroll the homepage
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black

  // Center the modal box
  display: flex;
  justify-content: center;
  align-items: center;

  // Ensure it sits on top of your flower background and cards
  z-index: 9999;

  //Blurs the homepage behind the modal
  backdrop-filter: blur(5px);
}

.modal-body {
  background: $primaryPink;
  padding: 1rem;
  border-radius: 2rem;
  height: 65rem;
  position: relative;
  max-width: 50rem;
  width: 90%;
  box-shadow: 0 2rem 50rem rgba(0, 0, 0, 0.3);

  // Animation for a "Pop" effect
  animation: modalFadeIn 0.3s ease-out;

  .close-modal {
    width: 2rem;
    margin-left: auto;
    padding: 0.5rem;

    button {
      background: none;
      border: none;
      outline: none;
      font-size: 2rem;
      font-weight: 900;
      color: $tertiaryPink !important;
      cursor: pointer;
    }
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
