@use "../variables" as *;

.our-services {
  padding: 5rem;

  h1 {
    font-size: 3rem;
    font-family: "Dancing SCript", cursive;
    color: $tertiaryOrange;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
  }

  .services {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
  }
}

// Service Card component
.service-card {
  display: flex;
  flex-direction: column;
  background-color: $white-100;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 02rem $tertiaryPink;

  h3 {
    text-align: center;
    background-color: $primaryPink;
    font-size: 2.2rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: "Dancing Script", cursive;
  }

  p {
    padding: 0.5rem;
    font-size: 1.4rem;
    text-align: justify;
    margin-top: 0.5rem;
  }

  .service-img {
    width: 16rem;
    height: 16rem;
    margin: auto;
    padding: 1rem;
    object-fit: contain;
  }

  button {
    width: 20rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: $secondaryOrange;
    font-weight: 700;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem $primaryOrange;
    color: $white-100;
  }
}
