// COLORS 
// Pink colors (primary)
$primaryPink: #ffeff0;
$secondaryPink: #ffd3c6 ;
$tertiaryPink: #f53669;

// Orange colors (secondary)
$primaryOrange: #fea46f;
$secondaryOrange: #e9760b;
$tertiaryOrange: #cd5a24;

// Others
$black-100: #0A0E15;
$black-90: #212631;
$white-100: #fff;
$white-90: #f0f1f5;
$grey-dark: #bfc6d4;
$grey-light: $white-100;


